button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  appearance: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  line-height: normal;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
  outline: none;
}

.rdrDefinedRangesWrapper {

}

.rdrStaticRanges {
  display: flex;
  flex-direction: column;
}

.rdrStaticRange {
  font-size: inherit;
}

.rdrStaticRangeLabel {
}

.rdrInputRanges {
}

.rdrInputRange {
  display: flex;
}

.rdrInputRangeInput {
}

.dateRangePickerWrapper.hide {
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  transition: all 0.2s ease-out;
}

.dateRangePickerWrapper.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  transition: all 0.2s ease-in;
}

.date-picker-input {
  padding: 8px;
  border-radius: 8px;
  border:1px solid #DFDFDF;
  padding: 12px;
  padding-right: 52px;
  color: #121212;
  font-weight: normal;
  cursor: pointer;
  width: 220px;
}
.date-picker-input::placeholder{

}

.date-picker-input:hover {
  outline: none;
  border-color: #c8c8c8;
}

.date-picker-input:focus {
  outline: none;
  border-color: #c8c8c8;
}

.date-picker-button {
  border-radius: 8px;
  outline: none;
  border: none;
  background-color: #007bff;
  padding: 12px 24px;
  color: #fff;
}
